<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quick.mulit.mapper.secondary.ReaderMapper" >
  <resultMap id="BaseResultMap" type="com.quick.mulit.entity.secondary.Reader" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="firstName" property="firstname" jdbcType="VARCHAR" />
    <result column="lastName" property="lastname" jdbcType="VARCHAR" />
    <result column="random_num" property="randomNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, firstName, lastName, random_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.quick.mulit.entity.secondary.ReaderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reader
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reader
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reader
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.quick.mulit.entity.secondary.ReaderExample" >
    delete from reader
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.quick.mulit.entity.secondary.Reader" >
    insert into reader (id, firstName, lastName, 
      random_num)
    values (#{id,jdbcType=INTEGER}, #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{randomNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quick.mulit.entity.secondary.Reader" >
    insert into reader
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="firstname != null" >
        firstName,
      </if>
      <if test="lastname != null" >
        lastName,
      </if>
      <if test="randomNum != null" >
        random_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="randomNum != null" >
        #{randomNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.quick.mulit.entity.secondary.ReaderExample" resultType="java.lang.Integer" >
    select count(*) from reader
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update reader
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.firstname != null" >
        firstName = #{record.firstname,jdbcType=VARCHAR},
      </if>
      <if test="record.lastname != null" >
        lastName = #{record.lastname,jdbcType=VARCHAR},
      </if>
      <if test="record.randomNum != null" >
        random_num = #{record.randomNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update reader
    set id = #{record.id,jdbcType=INTEGER},
      firstName = #{record.firstname,jdbcType=VARCHAR},
      lastName = #{record.lastname,jdbcType=VARCHAR},
      random_num = #{record.randomNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.quick.mulit.entity.secondary.Reader" >
    update reader
    <set >
      <if test="firstname != null" >
        firstName = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        lastName = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="randomNum != null" >
        random_num = #{randomNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quick.mulit.entity.secondary.Reader" >
    update reader
    set firstName = #{firstname,jdbcType=VARCHAR},
      lastName = #{lastname,jdbcType=VARCHAR},
      random_num = #{randomNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>