<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quick.druid.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.quick.druid.entity.City" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="CHAR" />
    <result column="CountryCode" property="countrycode" jdbcType="CHAR" />
    <result column="District" property="district" jdbcType="CHAR" />
    <result column="Population" property="population" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Name, CountryCode, District, Population
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quick.druid.entity.City" useGeneratedKeys="true" keyProperty="id" >
    insert into city (Name, CountryCode, District, 
      Population)
    values (#{name,jdbcType=CHAR}, #{countrycode,jdbcType=CHAR}, #{district,jdbcType=CHAR}, 
      #{population,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.quick.druid.entity.City" useGeneratedKeys="true" keyProperty="id" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        Name,
      </if>
      <if test="countrycode != null" >
        CountryCode,
      </if>
      <if test="district != null" >
        District,
      </if>
      <if test="population != null" >
        Population,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="countrycode != null" >
        #{countrycode,jdbcType=CHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=CHAR},
      </if>
      <if test="population != null" >
        #{population,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quick.druid.entity.City" >
    update city
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=CHAR},
      </if>
      <if test="countrycode != null" >
        CountryCode = #{countrycode,jdbcType=CHAR},
      </if>
      <if test="district != null" >
        District = #{district,jdbcType=CHAR},
      </if>
      <if test="population != null" >
        Population = #{population,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quick.druid.entity.City" >
    update city
    set Name = #{name,jdbcType=CHAR},
      CountryCode = #{countrycode,jdbcType=CHAR},
      District = #{district,jdbcType=CHAR},
      Population = #{population,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>