<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Img2txt</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/transfer">
    <div>
        <p>
            选择您所要上传的图片(背景为白色效果最好)：<input type="file" name="file"/>
        </p>
        <p>
            <input type="submit" value="上传"/>
        </p>
        <p>
            上传图片：<img src="https://ooo.0o0.ooo/2017/06/11/593c2c1d64882.jpg"/>
            转换后：<img src="https://ooo.0o0.ooo/2017/06/11/593c2a4b4980f.jpg"/>
        </p>
    </div>
</form>

</body>
</html>